@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    background-color: v.$blanc;
    &__contingut {
        @include m.contenidor;
        display: flex;
        flex-direction: column;

        @include m.desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    // &__logo {
    //     @include m.logo;
    //     @include m.text-fluid(1rem, 3rem);
    // }

}

.nav-logo {
    width: 120px;
    height: auto;
    color: v.$negre;
    text-align: center;
    @include m.tablet {
        margin: 0;
    }
    padding: 0.5rem;
  } 