@use 'base/variables' as v;

#boxBack {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  display: none;
  font-weight: bold;
}

#boxBack.show {
  display: flex;
}

#boxWrap {
  min-width: 320px;
  max-width: 600px;
  padding: 20px;
  background: #fff;
  align-items: center;
  border-radius: 10px;
}

#si[type='button'],
#si[type='submit'],
#si[type='reset'],
#no[type='button'],
#no[type='submit'],
#no[type='reset'] {
  color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border-radius: 10px;
}

#si {
  position: relative;
  margin-left: 20px;
  background-color: rgb(99, 221, 51);
  border-color: rgb(99, 221, 51);

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgb(60, 138, 30);
    border-color: rgb(60, 138, 30);
    font-weight: bold;
  }
}

#no {
  position: relative;
  margin-left: 20px;
  border-color: #d33;
  background-color: #d33;

  &:hover,
  &:focus {
    color: #fff;
    background-color: rgb(154, 47, 47);
    border-color: rgb(154, 47, 47);
    font-weight: bold;
  }
}

/* joc */
#jocBack {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  display: none;
  font-weight: bold;
}

#jocBack.show {
  display: flex;
}

#jocWrap {
  width: 90%;
  height: 90%;
  padding: 20px;
  background: #fff;
  align-items: center;
  border-radius: 10px;
}

#jocTxt {
  font-weight: bold;
  margin-left: 30px;
}

// joc

#bg {
  position: relative;
  margin: 1%;
  width: 98%;
  height: 90%;
  // background-color: red;
  border-radius: 5px;
}

.imatge {
  margin-top: 10px;
  width: 95% !important;
  height: 95% !important;
  position: absolute;

  // padding: 20px;
  // background-color: aqua;
}

/* btn */
.btn-sol-1,
.btn-sol-2 {
  width: 9%;
  height: auto;
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 80%;

  &:hover {
    filter: brightness(2);
  }
}

.btn-pluja-1,
.btn-pluja-2 {
  width: 9%;
  height: auto;
  z-index: 5;
  cursor: pointer;
  position: absolute;
  top: 33%;
  left: 80%;

  &:hover {
    filter: brightness(0.7);
  }
}

/* dia */
.cel {
  z-index: 0;
}

.terra {
  z-index: 1;
}

.llum {
  z-index: 1;
}

/* tormenta */
.cel-fosc {
  z-index: 0;
}

.pluja {
  z-index: 1;
}

.terra {
  z-index: 2;
}

.nuvols {
  z-index: 4 !important;
}



/* efecte pluja */
.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../img/activitats/hort/img/rain.png);
  animation: rain .3s linear infinite;
  z-index: 3 !important;
}

/* .rain:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  animation: lighting .3s linear infinite
} */

@keyframes rain {
  0%{
      background-position: 0% 0%;
  }
  100% {
      background-position: 20% 100%;
  }
}

/* @keyframes lighting {
  0%{
      opacity: 0;
  }
  10%{
      opacity: 0;
  }
  11%{
      opacity: 1;
  }
  14%{
      opacity: 0;
  }
  20%{
      opacity: 0;
  }
  21%{
      opacity: 1;
  }
  24%{
      opacity: 0;
  }
  100%{
      opacity: 0;
  }
} */