// Fuentes
$font-principal: 'Outfit', sans-serif;

// Tamany de Media Queries
$telefon: 480px;
$tablet: 768px;
$desktop: 1080px;
$xl_desktop: 1200px;

// Colors
// $blau: #007df4;
$secundari: #00c8c2;

$negre: #1a1b15;
// $blanc: #FFFFFF;
$gris: #64748B;
$gris-clar: #F8FAFC;
$gris-fosc: #1E293B;

// $vermell: rgb(169, 0, 0);
// $verd: #02db02;

// Colors
$verd: #4cb8b3;
$groc: #fef46d;
$morat: #9e1cdf;
// $negre: #000000;
$blanc: #ffffff;
$blau: #7c89d4;

$rosa: #ff6da0;
$vermell: #cf304b;

// Fonts
$thin: 300;
$regular: 400;
$bold: 700;
$black: 900