@use 'base/variables' as v;

.accions {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;

    &--centrar {
        justify-content: center;
    }

    &__link {
        color: v.$negre;
        font-size: 1.6rem;
        font-weight: v.$thin;
    }
}