@use 'base/mixins' as m;
@use 'base/variables' as v;

.llistat-ponents {
    @include m.reset-llista;
    @include m.grid(1, 1rem);

    &__ponent {
        color: v.$blau;
        border: 1px solid v.$blau;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &--seleccionado {
            @extend .llistat-ponents__ponent;
            background-color: v.$blau;
            color: v.$blanc;
        }
    }
}