@use 'base/mixins' as m;
@use 'base/variables' as v;

/* ************* CASA ******************* */

#main-casa {
  position: relative;
  z-index: 0;

  img {
    width: 100%;
    height: auto;
  }

  map area {
    cursor: pointer;
  }
}

// .effect-porta-habitacio {
//   position: relative;
//   z-index: 1;
//   cursor: pointer;

//   &:hover {
//     border: 5px solid white;
//     background-color: rgba($color: white, $alpha: 0.3);
//     filter: brightness(2);
//   }
// }
