@use 'base/mixins' as m;
@use 'base/variables' as v;

/* ************* CASA ******************* */

#main-casa {
  position: relative;
  display: inline-block;
  z-index: 0;
}

#room-habitacio {
  width: 38.5rem;
  height: 18rem;
  top: -50.7rem;
  left: 50.2rem;
}

#room-jocs {
  width: 25.5rem;
  height: 18rem;
  top: -68.7rem;
  left: 89.5rem;
  z-index: 1;
}

#room-lavabo {
  width: 28.2rem;
  height: 19.5rem;
  top: -67.7rem;
  left: 21.1rem;
  z-index: 1;
}

#room-sala {
  width: 34.5rem;
  height: 19.5rem;
  top: -87.1rem;
  left: 50.3rem;
  z-index: 1;
}

#room-cuina {
  width: 29rem;
  height: 19.5rem;
  top: -107.1rem;
  left: 86rem;
  z-index: 1;
}

#room-hort {
  width: 43rem;
  height: 19.5rem;
  top: -127.1rem;
  left: 116.3rem;
  z-index: 1;
}

.effect {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

/* ************* HABITACIÓ ******************* */

#porta-habitacio {
  position: absolute;
  width: 16.4%;
  height: 21.5%;
  top: calc(14.7% - 45px);
  left: 81%;

  background-color: red;
  z-index: 1;
}

#armari-habitacio {
  width: 39.5rem;
  height: 50rem;
  top: -115.3rem;
  left: 8.2rem;
}

.effect-porta-habitacio {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

.effect-armari {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}
/* ************* SALA JOCS ******************* */
#porta-sala-jocs {
  width: 29.4rem;
  height: 54rem;
  top: -73.9rem;
  left: 14.3rem;
}

.effect-porta-sala-jocs {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

#caixa-sala-jocs {
  width: 24.4rem;
  height: 22rem;
  top: -80.9rem;
  left: 54.3rem;
}

.effect-caixa-sala-jocs {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

/* ************* HORT ******************* */
#porta-hort {
  width: 30rem;
  height: 54rem;
  top: -92.4rem;
  left: 0rem;
}

.effect-porta-hort {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

#caixa-hort {
  width: 101.3rem;
  height: 43rem;
  top: -116.9rem;
  left: 54.3rem;
}

.effect-caixa-hort {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

/* ************* LAVABO ******************* */
#porta-lavabo {
  width: 21rem;
  height: 54rem;
  top: -73.4rem;
  left: 138rem;
}

.effect-porta-lavabo {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

#pica-lavabo {
  width: 29.3rem;
  height: 58rem;
  top: -124.9rem;
  left: 54.3rem;
}

.effect-pica-lavabo {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

/* ************* SALA ESTAR ******************* */
#porta-sala-estar {
  width: 21rem;
  height: 54rem;
  top: -73.4rem;
  left: 138rem;
}

.effect-porta-sala-estar {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}

#rellotge-sala-estar {
  width: 29.3rem;
  height: 58rem;
  top: -124.9rem;
  left: 54.3rem;
}

.effect-rellotge-sala-estar {
  position: relative;
  z-index: 1;
  cursor: pointer;

  &:hover {
    border: 5px solid white;
    background-color: rgba($color: white, $alpha: 0.3);
    filter: brightness(2);
  }
}
